<main class="container-fluid">
  <div class="container">

    <h1 class="h2 d-flex justify-content-center pt-2">{{title}}</h1>
    <!-- inserção de tarefas -->

    <form [formGroup]="form" class="my-3" (ngSubmit)="add()">
      <div>
        <div class="input-group">

          <input [ngClass]="{
            'is-invalid' : form.controls['title'].touched && form.controls['title'].invalid,
            'is-valid' : form.controls['title'].touched && form.controls['title'].valid}" maxlength="50"
            formControlName="title" class="form-control" type="text" placeholder="Adicionar nova tarefa">

          <button class="btn btn-success" [disabled]='form.invalid'>
            Salvar
          </button>

          <small class="invalid-tooltip" *ngIf="form.controls['title'].touched && form.controls['title'].invalid">
            Este campo deve conter entre 4 e 60 caracteres
          </small>

          <small class="valid-tooltip" *ngIf="form.controls['title'].touched && form.controls['title'].valid">
            Isso aí!
          </small>

        </div>
      </div>
    </form>

    <!-- lista de tarefas -->
    <ul class="list-group">

      <!-- item da lista -->
      <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let todo of todos"
        [ngClass]="{'bg-dark list-group-item-light' : todo.done == true}">

        <div class="d-flex w-100 justify-content-between" [ngClass]="{'line-through' : todo.done == true}">
          <h5 class="mb-1 h6 badge badge-danger badge-pill">{{todo.id}} - </h5>
          <small class="badge badge-primary badge-pill pt-1">{{todo.date}}</small>
        </div>
        <h1 class="mb-1 h5 py-3 todo-title" [ngClass]="{'line-through' : todo.done == true}">
          {{todo.title}}
        </h1>
        <div class="container d-flex justify-content-center">
          <div class="btn-group">
            <button (click)="remove(todo)" class="btn btn-sm btn-danger">
              Remover
            </button>

            <button (click)="markAsDone(todo)" *ngIf='!todo.done' class="btn btn-sm btn-success">
              Concluir
            </button>

            <button (click)="markAsUndone(todo)" *ngIf='todo.done' class="btn btn-sm btn-outline-success">
              Refazer
            </button>
          </div>
        </div>

      </li>


      <!-- loading -->
      <li *ngIf="todos.length == 0"
        class="list-group-item flex-column justify-content-center d-flex align-items-center">
        <small class="mb-3">Você ainda não tem tarefas adicionadas..</small>
        <div class="spinner-border" role="status">
        </div>
      </li>
      <!-- loading -->

    </ul>
  </div>

</main>
